*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #ddd;
  font-size: 1.5rem;
}
p {
  color: #222;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.heading_secondary {
  font-size: 3rem;
  text-transform: uppercase;

  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;

  &-sub {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 3rem;
  }
}
.heading_tertiary {
  font-size: 2.5rem;
  font-style: italic;
}

.margin-top-big {
  margin-top: 3rem;
}
.margin-bottom-big {
  margin-bottom: 3rem;
}
